* {
  font-family: "Rubik Doodle Shadow", system-ui;
  color: #2e2e2e;
  font-weight: normal;
}
/* test */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
body {
  height: 100vh;
  background-color: rgb(123, 123, 123);
}
header {
  text-align: center;
  vertical-align: middle;
  font-size: 6vh;
  margin-top: 3vh;
}
#bluePrint,
#shootingBoard,
th,
td {
  aspect-ratio: 1 / 1;
  background: transparent;
  border: 1px solid #ccc;
  border-style: dashed;
  border-width: 2px;
  border-color: #2e2e2e;
  vertical-align: middle;
  text-align: center;
}
th,
td {
  width: 2em;
  height: 2em;
}
input {
  font-size: 4.5vh;
  margin-top: 10vh;
  padding: 3vh;
  width: 50vw;
  border-style: dashed;
  border-radius: 100vw;
  border-width: 5px;
  border-color: #2e2e2e;
  background: none;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::placeholder {
  color: #2e2e2e;
  text-align: center;
}
.row {
  height: 100vh;
}
.invisible {
  display: none;
}
.player1 {
  background: #428d93;
}
.player2 {
  background: #9e4c3c;
}
button {
  height: auto;
  margin-bottom: 3vh;
  margin-top: 3vh;
  padding: 0.5vw;
  font-size: 4.5vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  appearance: none;
  background: transparent;
  border-style: dashed;
  border-radius: 100vw;
  border-width: 3px;
  border-color: #2e2e2e;
  color: #2e2e2e;
  list-style: none;
  overflow: hidden;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  will-change: box-shadow, transform;
}
button:hover {
  box-shadow: -1px 3px 19px -11px rgba(66, 68, 90, 1);
  transform: translateY(-2px);
}
.cell:hover {
  box-shadow: -1px 3px 19px -11px rgba(66, 68, 90, 1);
  transform: translateY(-2px);
}
button:active {
  box-shadow: inset -1px 3px 19px -11px rgba(66, 68, 90, 1);
  transform: translateY(2px);
}
.cell:active {
  box-shadow: inset -1px 3px 19px -11px rgba(66, 68, 90, 1);
  transform: translateY(2px);
}
