* {
  font-family: "Rubik Doodle Shadow", system-ui;
  color: #2e2e2e;
  font-weight: normal;
  font-size: calc(1vw + 1vh);
}
/* test */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
body {
  height: 100vh;
  background-color: rgb(123, 123, 123);
}

.row {
  height: 100vh;
}
header {
  text-align: center;
}
#ships-remaining {
  text-align: right;
  padding-top: 2vh;
  padding-right: 2vw;
  font-size: calc(1vw + 1vh);
  position: absolute;
  right: 0;
}
th,
td {
  line-height: 1;
  padding: 0;
  margin: 0;
  width: 2em;
  height: 2em;
  background: transparent;
  border: 1px solid #ccc;
  border-style: dashed;
  border-width: 2px;
  border-color: #2e2e2e;
  vertical-align: middle;
  text-align: center;
  /* font-size: 2em; */
}

input {
  height: 3em;
  font-size: calc(1.5vw + 1.5vh);
  margin-bottom: 1vh;
  padding: 2vh;
  border-style: dashed;
  border-radius: 100vw;
  border-width: 0.14em;
  border-color: #2e2e2e;
  background: none;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::placeholder {
  color: #2e2e2e;
  text-align: center;
}

.invisible {
  display: none;
}
.firstUser {
  background: #428d93;
}
.secondUser {
  background: #9e4c3c;
}
.noUser {
  background-color: rgb(123, 123, 123);
}
button {
  margin-top: 1em;
  font-size: calc(1vw + 1vh);
  padding-right: 2vw;
  padding-left: 2vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  appearance: none;
  background: transparent;
  border-style: dashed;
  border-radius: 100vw;
  border-width: 0.12em;
  border-color: #2e2e2e;
  color: #2e2e2e;
  list-style: none;
  overflow: hidden;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  will-change: box-shadow, transform;
}
button:hover {
  box-shadow: -1px 3px 19px -11px rgba(66, 68, 90, 1);
  transform: translateY(-2px);
}
.cell:hover {
  box-shadow: -1px 3px 19px -11px rgba(66, 68, 90, 1);
  transform: translateY(-2px);
}
button:active {
  box-shadow: inset -1px 3px 19px -11px rgba(66, 68, 90, 1);
  transform: translateY(2px);
}
.cell:active {
  box-shadow: inset -1px 3px 19px -11px rgba(66, 68, 90, 1);
  transform: translateY(2px);
}
@media (max-width: 768px) {
}
